table {
    width: 70%; /* Set table width */
    border-collapse: collapse; /* Collapse borders */

}

th {
    border: 1px solid #000000; /* Add border to header cells */
    padding: 2px; /* Add padding to header cells */
    text-align: center; /* Center text in header */
    background-color: #8f8e8e; /* Header background color */
}

td {
    border: 1px solid #000000; /* Add border to data cells */
    padding: 2px; /* Add padding to data cells */
    text-align: left; /* Align text to the left in data cells */
}

tr:nth-child(even) {
    background-color: #c6c6c6; /* Alternate row color */
}

